/*html { 
  background: url(universe1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

body {
	background: url('./images/universe1.jpg') no-repeat center center fixed;
	background-size: cover;
}

#inputWeight {
background-color: yellow;
}

.CenterItems {
text-align: center;
}

.PlanetImage img {
 width: 200px;

}

#output {color:green;}
#lbsToKg{color:red;}
#joke{color:blue;}